extends layout
block content
    h1= title
    p Welcome to #{title}

    h3 바스켓의 랭킹을 정해주세요
    table(border='1')
        thead
            tr
                th 바스켓 이름
                th 바스켓 랭킹
            tbody
                -var index=0
                each basket in baskets
                    - index++
                    tr(id=('id_'+index))
                        td  #{basket.basket_name}
                        td  
                            input(type='text', name="basket_rank" ,value = '#{basket.basket_rank}' )
    p
        input(type='submit', id="saveBtn", value="수정")
     
    script.
        $(function() {
            var length = #{baskets.length};
            $("#saveBtn").click(function() {
                var ranks = [];
                for (var i = 1 ; i <= length ; i++) {
                    var id = '#id_'+i;
                    ranks.push($(id).find("td:eq(1)").find("input").val());
                }
                
                $.ajax({
                    url: "http://localhost:8080/basketRank", //API
                    type: "POST",
                    dataType: "json",
                    data: { rank : ranks},
                    success: function (data) {
                        alert(data.result);
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            });
        });

  
