extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/basketRank', method="post", enctype="multipart/form-data")
    h3 바스켓의 랭킹을 정해주세요
    table(border='1')
      thead
        tr
          th 바스켓 이름
          th 바스켓 랭킹
        tbody
          each basket, i in baskets
            tr
              td  #{basket.basket_name}
              td  
                input(type='text', name="basket_rank" value = '#{basket.basket_rank}' id ='#{basket.basket_id}')


    p
      input(type='submit', value="수정")
