extends layout

block content
  h1= title

  form(action='/', method="post", enctype="multipart/form-data")    

  h4 ▶ 카테고리 추가하기      
  h5
    p
      script(type='text/javascript')
      table(border='0')
      tr
        each category, i in categorys
          td
            input(type='checkbox', name='#{category.small_category}', value = '#{category.small_category}')
            | #{category.small_category}
    p
      input(type='submit', value="카테고리에 추가")
    
    p
      script(type='text/javascript')
      table(border='0')
      tr
      each basket, i in baskets
        td
          input(type='checkbox', name='#{basket.basket_name}', value='#{basket.basket_name}')
          | #{basket.basket_name}
            
